In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [7]:
conn = sqlite3.Connection("data/data2.sqlite")

In [3]:
salary_data = pd.read_csv('salary_data_states.csv')
salary_data

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.00,year,62171.00,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.00,year,91440.00,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.00,year,49470.00,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800.00,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000.00,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10504.0,teacher,167361

# I. Do specific sub-types of data-related jobs have higher or lower salaries than others? (Alyssa)

In [4]:
hour_wage = salary_data[salary_data['PREVAILING_WAGE_SUBMITTED_UNIT'] == 'year']
hour_wage = salary_data.groupby('JOB_TITLE_SUBGROUP')['PREVAILING_WAGE_SUBMITTED'].mean()
                                
print(hour_wage)

JOB_TITLE_SUBGROUP
assistant professor      55350.886796
attorney                 91326.411022
business analyst         59356.259678
data analyst             59861.359354
data scientist           89799.037408
management consultant    47947.593416
software engineer        82212.129471
teacher                  37829.948856
Name: PREVAILING_WAGE_SUBMITTED, dtype: float64

In [17]:
employer_wage = salary_data[salary_data['PREVAILING_WAGE_SUBMITTED_UNIT'] == 'year']
employer_wage = salary_data.groupby('EMPLOYER_NAME')['PREVAILING_WAGE_SUBMITTED'].median()

employer_wage.sort_values(ascending=False).head(10)

EMPLOYER_NAME
SECURE ENDPOINTS, INC.                890000.0
DTC GLOBAL SERVICES LLC               870006.0
ACTIVE ENTERPRISE SOLUTIONS LLC       300300.0
HERITAGE PREPARATORY ACADEMY, INC.    227535.0
SCHOOL BOARD MIAMI-DADE COUNTY        222750.0
HANSON BRIDGETT LLP                   210912.0
FENWICK &AMP; WEST LLP                209414.0
KAYE SCHOLER LLP                      207293.0
LOWENSTEIN SANDLER LLP                207293.0
BRACEWELL & GIULIANI LLP              207293.0
Name: PREVAILING_WAGE_SUBMITTED, dtype: float64

In [18]:
employer_wage.describe()

count     23773.000000
mean      64607.462201
std       31708.790073
min           7.250000
25%       47486.000000
50%       65229.000000
75%       84500.000000
max      890000.000000
Name: PREVAILING_WAGE_SUBMITTED, dtype: float64

In [24]:
active_enter = salary_data[salary_data['EMPLOYER_NAME'] == 'ACTIVE ENTERPRISE SOLUTIONS LLC']
active_enter

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
43,I-200-13072-274889,denied,3/13/2013,3/18/2013,ACTIVE ENTERPRISE SOLUTIONS LLC,546000.0,year,54600.0,year,BUSINESS ANALYST,...,Management Analysts,Texas,TX,NaN,y,H-1B,NaN,54600.0,business analyst,44
130997,I-200-13077-890611,certified,3/18/2013,3/22/2013,ACTIVE ENTERPRISE SOLUTIONS LLC,54600.0,year,54650.0,year,BUSINESS ANALYST,...,Management Analysts,Texas,TX,NaN,y,H-1B,54600.0,54650.0,business analyst,131081

In [26]:
dtc_enter = salary_data[salary_data['EMPLOYER_NAME'] == 'DTC GLOBAL SERVICES LLC']
dtc_enter

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
22,I-200-13073-435787,withdrawn,3/14/2013,3/15/2013,DTC GLOBAL SERVICES LLC,870006.0,year,135000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",District of Columbia,DC,NaN,y,H-1B,NaN,135000.0,software engineer,23

In [27]:
secure_enter = salary_data[salary_data['EMPLOYER_NAME'] == 'SECURE ENDPOINTS, INC.']
secure_enter

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
19,I-200-13274-808058,withdrawn,10/1/2013,10/1/2013,"SECURE ENDPOINTS, INC.",890000.0,year,100001.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",New York,NY,NaN,y,H-1B,NaN,100001.0,software engineer,20