In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

salary = pd.read_csv("C:/Users/Vinny/Desktop/Vinny/School/Team-Anova-Project/Vinny_WIP/salary_data_states.csv")

salary.head()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.0,year,62171.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.0,year,49470.0,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.0,month,43800.0,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.0,bi-weekly,170000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5

In [21]:
# What states (of those I am willing to move to) have the highest paying data-related salaries? (VINNY)

datasal = salary.loc[salary['JOB_TITLE_SUBGROUP']=='data analyst']

datasal.groupby('WORK_STATE')['PAID_WAGE_PER_YEAR'].mean().round(2).sort_values(ascending=False)

WORK_STATE
Connecticut             80988.75
California              80470.05
Delaware                78561.14
New Hampshire           75943.25
Maine                   72595.25
New York                71449.00
Washington              71226.38
Nevada                  70768.33
Georgia                 70508.29
Arizona                 70150.24
District of Columbia    70023.18
Ohio                    70019.10
South Dakota            70000.00
Alabama                 69803.33
New Jersey              69558.40
Massachusetts           69495.30
Michigan                69471.25
Minnesota               68986.70
North Carolina          68956.09
Maryland                68941.48
Kentucky                68533.33
Virginia                68222.28
New Mexico              66979.47
Wisconsin               66416.39
Rhode Island            66293.21
Kansas                  66005.33
Texas                   65065.33
Oregon                  64641.68
Illinois                64368.84
Indiana                 64118.77
Hawaii                  63737.57
Pennsylvania            63177.68
Mississippi             63100.00
Colorado                62969.13
Tennessee               62247.00
Iowa                    62246.05
Missouri                61771.43
Florida                 61632.05
South Carolina          61402.00
Arkansas                60360.01
Louisiana               59692.31
Oklahoma                55498.40
Nebraska                52010.07
Utah                    50401.03
Idaho                   48699.75
North Dakota            47714.67
Puerto Rico             45000.00
Vermont                 42000.00
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [23]:
# Differences between job sub-categories?

datasal.groupby('JOB_TITLE_SUBGROUP')['PAID_WAGE_PER_YEAR'].mean().round(2)

JOB_TITLE_SUBGROUP
assistant professor       94876.71
attorney                 146413.60
business analyst          71300.08
data analyst              70030.08
data scientist           108021.04
management consultant    108251.33
software engineer         92505.30
teacher                   46039.99
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [38]:
# Which companies have the highest salaries for those sub-types?

# Data Scientist
sciensal = salary.loc[salary['JOB_TITLE_SUBGROUP']=='data scientist']

sciensal.groupby('EMPLOYER_NAME')['PAID_WAGE_PER_YEAR'].mean().head(5).round(2).sort_values(ascending=False)

EMPLOYER_NAME
1618LABS, INC.    125000.0
23ANDME, INC.      90000.0
360I, LLC          75000.0
360I LLC           72000.0
1901 GROUP LLC     60940.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [39]:
# Data Analyst

datasal.groupby('EMPLOYER_NAME')['PAID_WAGE_PER_YEAR'].mean().head(5).round(2).sort_values(ascending=False)

EMPLOYER_NAME
3S BUSINESS CORPORATION                82000.0
3CSI LLC                               72000.0
4C INSIGHTS, INC.                      64522.0
5TH STREET INVESTMENT COMPANY, LLC.    47652.8
11 MAIN, INC.                          43316.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [40]:
# Attorney

attsal = salary.loc[salary['JOB_TITLE_SUBGROUP']=='attorney']

attsal.groupby('EMPLOYER_NAME')['PAID_WAGE_PER_YEAR'].mean().head(5).round(2).sort_values(ascending=False)

EMPLOYER_NAME
ACKER MERRALL & CONDIT COMPANY              124800.0
1199 SEIU UNITED HEALTHCARE WORKERS EAST    106089.0
ABRAHAM, FRUCHTER & TWERSKY LLP              82472.0
81DOC.COM INC.                               68640.0
81DOCCOM INC.                                68640.0
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [ ]:
# Will the answer change if I take standard of living into account?